<launch>

<!-- setup node -->
<!--<rosparam command = "load" file = "config/waypoint.yaml" /> -->


<node name="setup" type="setup.py" pkg="turtle_control" output="screen">
</node>

<!--translate  node -->

<node name="translate" type="translate.py" pkg="turtle_control" output="screen">
</node>

<!--follow  node -->

<node name="follow" type="follow.py" pkg="turtle_control" output="screen">
    <param name="dish_thresh" value="0.05" />
</node>


</launch>